<div class="container mt-5">
    <div class="form-container">
        <h2 class="product-title" style="font-weight: bolder;">Add Category Offers</h2>
        <div class="login-line"></div>
        <form id="category-offer-form" action="/admin/categories/offers/add" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <!-- Category Selection -->
            <div class="form-group">
                <label for="category">Category</label>
                <% if (categories && categories.length > 0) { %>
                    <select class="form-control" id="category" name="category" required>
                        <option value="" disabled selected>Select category</option>
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                        <% }) %>
                    </select>
                <% } else { %>
                    <p>No categories available</p>
                <% } %>
            </div>

            <!-- Offer Type -->
            <div class="form-group">
                <label for="offerType">Offer Type</label>
                <% if (offerTypes) { %>
                    <select class="form-control" id="offerType" name="offerType" required>
                        <option value="" disabled selected>Select Offer Type</option>
                        <% offerTypes.forEach((type) => { %>
                            <option value="<%= type %>"><%= type %></option>
                        <% }) %>
                    </select>
                <% } %>
            </div>

            <!-- Offer Value -->
            <div class="form-group">
                <label for="fixedDiscount">Fixed Discount</label>
                <input type="number" class="form-control" id="categoryFixedDiscount" name="fixedDiscount" placeholder="Enter fixed discount">
            </div>
            <span id="category-offer-form-categoryFixedDiscountError" class="error-message"></span>

            <div class="form-group">
                <label for="percentageDiscount">Percentage Discount</label>
                <input type="number" class="form-control" id="categoryPercentageDiscount" name="percentageDiscount" placeholder="Enter percentage discount">
            </div>
            <span id="category-offer-form-categoryPercentageDiscountError" class="error-message"></span>

            <div class="form-group">
                <label for="minimumPurchaseAmount">Minimum Purchase Amount</label>
                <input type="number" class="form-control" id="categoryMinimumPurchaseAmount" name="minimumPurchaseAmount" placeholder="Enter minimum purchase amount">
            </div>
            <span id="category-offer-form-categoryMinimumPurchaseAmountError" class="error-message"></span>

            <!-- Is Active Radio Buttons -->
            <div class="form-group">
                <label>Is Active?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="offerIsActive" id="isActiveYes" value="true" checked>
                    <label class="form-check-label" for="isActiveYes">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="offerIsActive" id="isActiveNo" value="false">
                    <label class="form-check-label" for="isActiveNo">
                        No
                    </label>
                </div>
            </div>

            <!-- Expiration Date -->
            <div class="form-group">
                <label for="expirationDate">Expiration Date</label>
                <input type="date" class="form-control" id="categoryOfferExpirationDate" name="offerExpirationDate">
            </div>
            <span id="category-offer-form-categoryOfferExpirationDateError" class="error-message"></span>

            <!-- Submit Button -->
            <button type="submit" class="btn category-btn mt-3">Add Category Offer</button>
            <div id="success-message" class="success-message"></div>
        </form>
    </div>
</div>

<% script = `
    <script src="/js/offers.js"></script>
` %>