<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard" style="color: black;"><i class="fa fa-home" style="margin-right: 5px; color: #85FF00;"></i>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Offers</li>
        </ol>
    </nav>

    <h2 class="text-center" style="font-weight: bolder;">Offers List</h2>
    <div class="login-line"></div>
    <!-- Category Offers Section -->
    <div class="mt-5">
        <h3 class="text-center" style="font-weight: bold;">Category Offers</h3>
        <div class="login-line"></div>
        <div class="mb-4">
            <a href="/admin/categories/offers/add" class="btn addProduct-btn">
                Add Category Offer+
            </a>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Offer Type</th>
                        <% if (categories.some(category => category.offer && category.offer.fixedDiscount)) { %>
                            <th>Fixed Discount</th>
                        <% } %>
                        <% if (categories.some(category => category.offer && category.offer.percentageDiscount)) { %>
                            <th>Percentage Discount</th>
                        <% } %> 
                        <th>Minimum Purchase Amount</th>
                        <th>Is Active</th>
                        <th>Expiration Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (categories.length > 0) { %>
                        <% categories.forEach(category => { %>
                            <tr>
                                <td><%= category.name %></td>
                                <td><%= category.offer.type %></td>
                                <td><%= category.offer.fixedDiscount %></td>
                                <td><%= category.offer.percentageDiscount %></td>
                                <td><%= category.offer.minimumPurchaseAmount %></td>
                                <td><%= category.offer.isActive ? 'Yes' : 'No' %></td>
                                <td><%= category.offer.expirationDate ? category.offer.expirationDate.toDateString() : 'N/A' %></td>
                                <td>
                                    <a href="/admin/edit-category-offer/<%= category._id %>" class="btn btn-warning btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="8" class="text-center">No Categories available with offer.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="mb-4 text-center">
                <a href="/admin/categories/offers/all" class="btn addProduct-btn">
                    Show all
                </a>
            </div>
        </div>
    </div>

    <!-- Product Offers Section -->
    <div class="mt-5">
        <h3 class="text-center" style="font-weight: bold;">Product Offers</h3>
        <div class="login-line"></div>
        <div class="mb-4">
            <a href="/admin/products/offers/add" class="btn addProduct-btn">
                Add Product Offer+
            </a>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Offer Type</th>
                        <% if (products.some(product => product.offer && product.offer.fixedDiscount > 0)) { %>
                            <th>Fixed Discount</th>
                        <% } %>
                        <% if (products.some(product => product.offer && product.offer.percentageDiscount > 0)) { %>
                            <th>Percentage Discount</th>
                        <% } %> 
                        <th>Minimum Purchase Amount</th>
                        <th>Is Active</th>
                        <th>Expiration Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (products.length > 0) { %>
                        <% products.forEach(product => { %>
                            <tr>
                                <td><%= product.name %></td>
                                <td><%= product.offer.type %></td>
                                <td><%= product.offer.fixedDiscount %></td>
                                <td><%= product.offer.percentageDiscount %></td>
                                <td><%= product.offer.minimumPurchaseAmount %></td>
                                <td><%= product.offer.isActive ? 'Yes' : 'No' %></td>
                                <td><%= product.offer.expirationDate.toDateString() %></td>
                                <td>
                                    <a href="/admin/edit-product-offer/<%= product._id %>" class="btn btn-warning btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="6" class="text-center">No Products available with offer.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-4 text-center">
        <a href="/admin/products/offers/all" class="btn addProduct-btn">
            Show all
        </a>
    </div>
</div>

<% script = `
    <script src="/js/offers.js"></script>
` %>