<div class="container mt-5">
    <% if (locals.message && locals.message.success || locals.message.error) { %>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const messageType = '<%= locals.message.success ? "success" : "error" %>';
                const messageText = '<%= locals.message.success ? locals.message.success : locals.message.error %>';
                const messageTitle = messageType === 'success' ? 'Success!' : 'Oops...';
                const confirmButtonColor = messageType === 'success' ? '#28a745' : '#d33';

                swal.fire({
                    icon: messageType,
                    title: messageTitle,
                    text: messageText,
                    confirmButtonColor: confirmButtonColor,
                    confirmButtonText: 'Ok'
                });
            });
        </script>
    <% } %>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard" style="color: black;"><i class="fa fa-home" style="margin-right: 5px; color: #85FF00;"></i>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>

    <section class="user-list mt-5">
        <h2 class="text-center" style="font-weight: bolder;">Users List</h2>
        <div class="login-line"></div>
        <div class="table-responsive mt-5">
            <table id="advancedTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user) => { %>
                        <tr>
                            <td><%= user.firstName %> <%= user.lastName %></td>
                            <td><%= user.email %></td>
                            <td><%= user.status ? 'Active' : 'Blocked' %></td>
                            <td>
                                <form id="block-form-<%= user._id %>" action="/admin/<%= user.status ? 'block-user' : 'unblock-user' %>/<%= user._id %>" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn <%= user.status ? 'btn-danger' : 'btn-success' %>" data-user-name="<%= user.firstName %> <%= user.lastName %>" data-status="<%= user.status %>" id="block-user-btn-<%= user._id %>">
                                        <%= user.status ? 'Block' : 'Unblock' %>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>
</div>

<% script = `<script src="/js/adminActions.js"></script>` %>