<style>
    /* CSS code */
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .section {
        padding: 60px 0;
    }

    .user-profile .sidebar {
        background: linear-gradient(45deg, #4CAF50, #85FF00);
        padding: 30px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .user-profile .widget.user {
        text-align: center;
        margin-bottom: 30px;
    }

    .user-profile .widget.user .image {
        margin-bottom: 20px;
    }

    .user-profile .widget.user img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 4px solid #fff;
    }

    .user-profile .widget.user h5 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }

    .user-profile .widget.user-dashboard-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .user-profile .widget.user-dashboard-menu ul li {
        width: 100%; /* Ensure the list item takes the full width of the sidebar */
    }

    .user-profile .widget.user-dashboard-menu ul li a {
        display: block; /* Ensure the link takes up the full width */
        padding: 15px;
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    .user-profile .widget.user-dashboard-menu ul li a i {
        margin-right: 10px; /* Adjust the gap between icon and text */
    }

    .user-profile .widget.user-dashboard-menu ul li:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .user-profile .widget.user-dashboard-menu ul li a:hover,
    .user-profile .widget.user-dashboard-menu ul li.active > a {
        color: #4e5e94;
        text-decoration: none;
    }

    /* General Styles */
    .widget.order-management {
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .widget.order-management h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }

    /* Filter Options */
    .filter-options {
        margin-bottom: 20px;
    }

    .showing-text {
        color: #666;
        font-size: 16px;
    }

    /* Wishlist Item List */
    .order-list {
        border-top: 1px solid #ddd;
    }

    .order-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
    }

    .order-item img {
        border-radius: 5px;
        max-width: 100px;
        margin-right: 20px;
    }

    .order-item h4 {
        margin: 0;
        font-size: 18px;
        color: #333;
    }

    .order-item p {
        color: #777;
        margin: 5px 0;
    }

    .order-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-view-details {
        background: linear-gradient(45deg, #85FF00, #4CAF50);
        color: white;
        font-weight: bold;
        border-radius: 20px;
    }

    .btn-view-details:hover {
        background: transparent;
        color: #85FF00;
        border-color: #85FF00;
    }

    .order-actions button {
        display: inline-block;
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 5px;
        text-decoration: none;
        background-color: #e74c3c;
        color: white;
        border: none;
        cursor: pointer;
    }

    .order-actions button:hover {
        opacity: 0.9;
    }

    .rating {
        color: #FFD700; /* Gold color for stars */
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    /* Custom pagination color */
    .pagination .page-link {
        color: #85FF00; /* Default text color */
    }

    .pagination .page-item.active .page-link {
        background: linear-gradient(45deg, #85FF00, #4CAF50); /* Active page background color */
        border-color: #85FF00; /* Active page border color */
        color: white; /* Active page text color */
    }

    .pagination .page-link:hover {
        background-color: #E5E6DE; /* Hover background color */
        border-color: #85FF00; /* Hover border color */
        color: linear-gradient(45deg, #85FF00, #4CAF50); /* Hover text color */
    }

    /* Breadcrumb Styles */
    .breadcrumb {
        background-color: #f8f9fa;
        border-radius: 8px;
    }

    .breadcrumb-item a {
        color: #343a40;
        width: 15px;
        text-decoration: none;
    }

    .breadcrumb-item.active {
        color: #6c757d;
    }
</style>

<% if (error) { %>
    <p><%= error %></p>
<% } %>  

<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/" style="color: black;">
                    <i class="fa fa-home" style="margin-right: 5px; color: #85FF00;"></i>Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
        </ol>
    </nav>

    <section class="user-profile section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="widget user">
                            <div class="image d-flex justify-content-center">
                                <img src="#" alt="">
                            </div>
                            <h5 class="text-center" style="color: #fff;"><%= locals.user.firstName %> <%= locals.user.lastName %></h5>
                        </div>
                        <div class="widget user-dashboard-menu">
                            <ul>
                                <li><a href="/users/profile"><i class="fas fa-user"></i>Your Profile</a></li>
                                <li><a href="/users/wishlist"><i class="fas fa-heart"></i>Your Wishlist</a></li>
                                <li><a href="/orders/my-orders"><i class="fas fa-history"></i>Order History</a></li>
                                <li><a href="/users/referrals"><i class="fas fa-users"></i>Your Referrals</a></li>
                                <li><a href="/users/wallet"><i class="fas fa-wallet"></i>Wallet</a></li>
                                <li><a href="/users/address-management"><i class="fas fa-map-marker-alt"></i>Manage Addresses</a></li>
                                <li><a href="/users/editProfile"><i class="fas fa-edit"></i>Edit Profile</a></li>
                                <li><a href="/users/change-password"><i class="fas fa-key"></i>Change Password</a></li>
                                <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="widget order-management">
                        <h2>Your Wishlist</h2>
            
                        <!-- Filter options (if any) -->
                        <form action="/wishlist" method="get">
                            <div class="filter-options">
                                <p class="showing-text">Showing All Wishlist Items</p>
                            </div>
                        </form>
            
                        <!-- Wishlist item list -->
                        <div class="order-list" id="wishlistList">
                            <% if (wishlist && wishlist.items.length > 0) { %>
                                <% wishlist.items.forEach((item, i) => { %>
                                    <div class="order-item">
                                        <div>
                                            <img src="/images/products/<%= item.productId.images[0] %>" alt="Product Image" width="100">
                                            <h4><%= item.productId.name %></h4>
                                            <div class="rating">
                                                <% for (let i = 1; i <= 5; i++) { %>
                                                    <i class="fa<%= i <= item.productId.rating ? 's' : 'r' %> fa-star"></i>
                                                <% } %>
                                            </div>
                                            <% if (item.productId.discountPrice) { %>
                                                <p style="margin-bottom: 0 !important;"><del>Price: ₹<%= item.productId.price %></del></p>
                                                <p class="mb-1" style="margin-top: 0 !important;">Discount Price: ₹<%= item.productId.discountPrice %></p>
                                            <% } else { %>
                                                <p class="mb-4">Price: ₹<%= item.productId.price %></p>
                                            <% } %>
                                            <% if (item.productId.stock > 0) { %>
                                                <form action="/users/shoppingCart/add" method="POST" class="add-to-cart-form mt-3">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <input type="hidden" name="productId" value="<%= item.productId._id %>">
                                                    <button type="submit" class="btn btn-view-details">
                                                        Add to Cart <i class="fa fa-shopping-cart"></i>
                                                    </button>
                                                </form>
                                            <% } else { %>
                                                <span class="out-of-stock-text" style="color: red;">Currently out of stock</span>
                                            <% } %>
                                        </div>
                                        <div class="order-actions">
                                            <form id="delete-wishlist-item-form" action="/wishlist/delete/<%= item.productId._id %>" method="post" style="display:inline;">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="hidden" name="productId" value="<%= item.productId._id %>">
                                                <button type="submit" style="background: #e74c3c;"><i class="fas fa-trash-alt"></i> Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <p>Your wishlist is empty.</p>
                            <% } %>
                        </div>
            
                        <!-- Pagination -->
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3 pagination-gap">
                            <ul class="pagination">
                              <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                  <a style="color: #85FF00;" class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                              <% } %>
                            </ul>
                        </nav>                          
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/userActions.js"></script>
<script src="/js/wishlist.js"></script>